[submodule "third_party/mslk"]
	path = third_party/mslk
	url = https://github.com/meta-pytorch/MSLK.git
[submodule "third_party/torchtitan"]
	path = third_party/torchtitan
	url = https://github.com/rdspring1/torchtitan.git
[submodule "third_party/torchao"]
	path = third_party/torchao
	url = https://github.com/rdspring1/ao.git
